.blog_section{
    text-align: center;
    align-items: center;
   
}

.blog_section > h1 {
    text-align: center;
    padding-bottom: 20px;
}
.blog_section>p{
    padding-top: 10px;
    text-align: center;
 padding-left: 100px;
 padding-right: 100px;
}

.section_two{
    padding-top: 20px;
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
