.banner_media{
   
  display: flex;
  flex-direction: column;
    float: right;
    position: fixed;
    z-index: 100;
    right:0;
    color:gray;
    transition: transform 50ms ease-in;
    justify-content: space-between;
  margin-top:10%;
  opacity: 1;
    
   
}
.banner_media > a{
    color:gray
}
.banner_media :hover {
   color: #166954;
     opacity: 2;
    transform: scale(1.1);
}